apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: couchdb-pvc
  labels:
    app: couchdb
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  # Uncomment and set your storage class if needed
  # storageClassName: standard
